.ID {
	background-color: #f7f7f7;
	width: 100%;
	height: 1530rpx;
	overflow: hidden;
}
#button {
	width: 80%;
	position: fixed;
	bottom: 10%;
	left: 10%;
	background-color: #ff8c00;
	color: #fff;
	display: flex;
	justify-content: center;
	height: 80rpx;
	border-radius: 40rpx 40rpx 40rpx 40rpx;
}

.button-img {
	width: 6%;
	margin-top: 22rpx;
}

.button-text {
	margin-top: 18rpx;
	margin-left: 10rpx;
}

/*  */
.site {
	width: 90%;
	background-color: #fff;
	margin-top: 10rpx;
	margin-left: 5%;
	border-radius: 7px 7px 7px 7px;
}

.site-xian {
	width: 100%;
	height: 1px;
	background-color: #c5c3c3;
	margin-top: 20rpx;
}

.site-view {
	width: 90%;
	margin-left: 5%;
	height: 80rpx;
	display: flex;
}

.site-name {
	font-size: 27rpx;
	margin-top: 30rpx;
	line-height: 36rpx;
}

.site-phone {
	font-size: 27rpx;
	margin-left: 55%;
	margin-top: 30rpx;
}

.group {
	height: 80rpx;
	margin-top: 20rpx;
	width: 95%;
	display: flex;
	margin-left: 2.5%;
}
.ckeck {
	width: 25%;
	font-size: 28rpx;
}

.site-text {
	margin-top: 30rpx;
	margin-left: 5%;
	height: 60rpx;
}

.site-for {
	display: flex;
	margin-left: 240rpx;
}

.for {
	display: flex;
	margin-top: 10rpx;
	margin-left: 20rpx;
	
}

.for-img {
	width: 40rpx;
	margin-top: 4rpx;
}

.for-text {
	font-size: 28rpx;
	color: red;
	margin-left: 20rpx;
	width: 60rpx;
}