uni-checkbox .uni-checkbox-input {
	border-radius: 50% !important;
	color: #ffffff !important;
	transform: scale(0.8, 0.8);
}

uni-checkbox .uni-checkbox-input.uni-checkbox-input-checked {
	color: #fff;
	border-color: #f0ad4e;
	background: #f0ad4e;
}
uni-checkbox .uni-checkbox-input.uni-checkbox-input-checked:after {
	font-size: 18px;
}
/* 搜索框 */
.sousuo {
	width: 92%;
	margin-left: 4%;
	background-color: #fff;
	border-radius: 15rpx 15rpx 15rpx 15rpx;
	box-shadow: #d9d9d9 0 0 4px 0;
	margin-top: 2%;
}
.sousuo-view {
	width: 100%;
	display: flex;
	margin-left: 3%;
}
.input-image {
	width: 60upx;
	height: 60upx;
	margin-top: 10upx;
}
.input {
	border: 0;
	width: 88%;
	height: 80upx;
}

/* 内容 */
.view {
	width: 92%;
	/* height: 900rpx; */
	margin-left: 4%;
	background-color: #ffffff;
	margin-top: 2%;
	overflow-y: auto;
	height: 950rpx;
	border-radius: 12rpx;
}

.checkbox-view {
	width: 100%;
	height: 100upx;
	line-height: 100upx;
	border-radius: 15upx 15upx 15upx 15upx;
	position: relative;
}
.checkbox-text {
	margin-left: 5%;
	font-size: 31upx;
	color: #333;
}
.checkbox {
	position: absolute;
	right: 5%;
}
.xian {
	width: 96%;
	margin-left: 2%;
	height: 1upx;
	background-color: #f1f1f1;
}
.term-info {
	padding-right: 0;
}
.term-define {
	width: 80%;
	background-color: #f98021;
	color: #fff;
	border-radius: 5px;
	position: fixed;
	left: 10%;
	bottom: 5%;
}