.xian {
	width: 100%;
	height: 1upx;
	background-color: #f1f1f1;
}
#body {
	width: 100%;
	overflow: hidden;
	padding: 20px;
}
#view {
	width: 100%;
	height: 50px;
	background-color: rgb(252, 252, 252);
	overflow: hidden;
}

#view_view {
	width: 90%;
	height: 36px;
	background: rgb(238, 238, 238);
	overflow: hidden;
	margin-top: 8px;
	border-radius: 5px;
	margin-left: 20px;
}

.v_input {
	background-color: rgb(238, 238, 238);
	width: 70%;
	margin: 0 auto;
	margin-top: 8px;
	display: inline-block;
}

.place {
	color: rgb(192, 192, 192);
}

#view image {
	width: 20px;
	height: 20px;
	display: inline-block;
	margin-left: 16px;
	margin-bottom: 2px;
}

.views {
	width: 20%;
	height: 50upx;
	line-height: 50upx;
	/* background-color:rgb(243, 169, 9);*/
	background-color: rgb(253, 253, 253);
	text-align: center;
	margin-top: 10px;
	color: rgb(168, 168, 168);
	display: inline-block;
	font-size: 12px;
	padding: 3px;
	margin-top: -10px;
	border-right: 1px solid #c4c4c4;
	box-shadow: 5rpx 5rpx 5rpx 5rpx rgb(204, 204, 204);
}

.view_sn {
	width: 90%;
	background-color: rgb(255, 255, 255);
	overflow: hidden;
	padding: 5px 20px;
	margin-left: -16px;
}

.divLine {
	background: #ffffff;
	width: 100%;
	height: 1px;
}

.view3 {
	width: 90%;
	/* height: 100%; */
	background-color: rgb(7, 0, 0);
}

.p1 {
	display: inline-block;
	font-size: 30upx;
	width: 70%;
	margin-top: 5px;
}

.p2 {
	width: 30%;
	display: inline-block;
	font-size: 28upx;
	color: #ff8c00;
	font-weight: bold;
	float: right;
	overflow: hidden;
	margin-top: 5px;
}

.p3 {
	display: inline-block;
	font-size: 12px;
	color: #666;
	margin-top: 5px;
}

.p3_1 {
	display: inline-block;
	font-size: 12px;
	color: #ff8c00;
}

.p4 {
	display: inline-block;
	font-size: 12px;
	float: right;
	margin-top: 3px;
	color: #666;
}

#v1 {
	background-color: #ff8c00;
	color: white;
}