/*数据栏*/
.earnings {
	width: 92%;
	height: 240rpx;
	background-color: #fff;
	position: absolute;
	top: 160rpx;
	left: 4%;
	border-radius: 5px;
	box-shadow: #666 0rpx 2rpx 8rpx 0rpx;
}
.tixian {
	position: absolute;
	border-radius:12upx;
	box-shadow: #f0f0f0 0rpx 2rpx 8rpx 0rpx; 
	border: 1upx solid #f0f0f0;
	width: 100upx;
	text-align: center;
	right: 60upx;
	top: 40upx;
	color: #666;
}
.earning {
	width: 100%;
	text-align: center;
	font-size: 30upx;
}
.blance_title{
	color: #666; margin-top: 10upx;
}
.blance_text{
	color: #EE9900; font-size: 30upx;
}
.eings-view {
	width: 50%;
	text-align: center;
	margin-top: 10upx;
}
.shuxian {
	width: 1upx;
	height: 100upx;
	background-color: #f0f0f0;
	margin-top: 10upx;
}
.across {
	width: 90%;
	height: 1upx;
	background-color: #f0f0f0;
	margin-left: 5%;
}

.titlebars {
	width: 100%;
	height: 330rpx;
	background-color: #ff8c00;
	position: relative;
}

.botn-1 {
	text-align: center;
	margin-top: 3rpx;
	font-size: 30rpx;
}

.botn {
	border-radius: 20px 0px 0px 20px;
	position: absolute;
	left: 75%;
	top: 20%;
	background-color: #ffb31f;
	width: 25%;
	height: 50rpx;
	box-shadow: rgb(238, 114, 42) 10rpx 0rpx 10rpx 10rpx;
	color: #fff;
}

.titlebar {
	width: 100%;
}

.rise-head {
	display: flex;
	height: 80rpx;
}

.head {
	width: 120rpx;
	height: 120rpx;
	border-radius: 100rpx;
	margin-left: 5%;
	margin-top: 20rpx;
}
.name {
	font-size: 34rpx;
	color: #fff;
	width: 60%;
	height: 50rpx;
	margin-left: 25rpx;
	margin-top: 2%;
}
/*ID框*/
.ID {
	font-size: 30rpx;
	color: #fff;
	margin-left: 24%;
	margin-top: 1%;
}

/*实名框*/

.shiming {
	border: 1px solid #fff;
	border-radius: 10px 10px 10px 10px;
	height: 30upx;
	display: flex;
	position: absolute;
	left: 40%;
	top: 15%;
}
.shiming-img {
	width: 30upx;
	height: 30upx;
	margin-top: 2%;
}

.shiming-text {
	font-size: 22upx;
	color: #fff;
	margin-top: -5%;
}

/*内容*/
.NavigationBar {
	width: 100%;
	height: 100%;
	margin-top: 14%;
}
.Bar {
	width: 92%;
	height: 277rpx;
	background-color: #fff;
	border-radius: 10px;
	margin-top: 11%;
	margin-left: 4%;
	box-shadow: #efe9e9 3px 3px 8px 3px;
}

.Bar1 {
	width: 92%;
	background-color: #fff;
	border-radius: 5px;
	margin-top: 3%;
	margin-left: 4%;
	box-shadow: #efe9e9 3px 3px 8px 3px;
}

.div {
	width: 100%;
	display: flex;
	position: relative;
	height: 100upx;
}

.div-img {
	width: 65upx;
	height: 65upx;
	margin-left: 9%;
	margin-top: 3.5%;
}

.div-text {
	margin-top: 4%;
	margin-left: 1%;
	font-size: 28rpx;
	font-weight: 400;
	height: 55upx;
}

.arrows {
	width: 50upx;
	height: 50upx;
	margin-top: 4%;
	right: 40upx;
	position: absolute;
}