.bank-card {
  box-shadow: #d9d9d9 0 0 4px 0;
  margin-top: 20rpx;
}

.bank {
  display: flex;
  width: 100%;
  position: relative;
  height: 80rpx;
  background-color: #fff;
}

.bank-name {
  width: 25%;
  height: 80rpx;
  line-height: 80rpx;
  font-size: 28rpx;
  margin-left: 3%;
}

.bank-text {
  width: 45%;
  margin-top: 5rpx;
  font-size: 28rpx;
  color: #777;
  margin-left: 15rpx;
}

.wxbox{
	height: 80rpx;
	line-height: 100rpx;
	padding-top: 20rpx;
}

.wx{
  width: 8%;
  margin-left: 3%;
}

.bank-img {
  width: 4%;
  position: absolute;
  right: 5%;
  top: 25rpx;
}

.add-xian {
  width: 100%;
  height: 1px;
  background-color: #c5c3c3;
}


/** 修改密码 **/
.old{
  background-color: white;
  margin-top: 20rpx;
  height: 70rpx;
  padding-left: 30px;
}

.new{
  background-color: white;
  margin-top: 20rpx;
  height: 80rpx;
  padding-left: 30px;
}

.new2{
  padding-left: 30px;
  background-color: white;
  margin-top: 5rpx;
  height: 80rpx;
}

.psy{
  width: 96%;
  height: 80rpx;
  background-color: rgb(255, 99, 88);
  color: white;
  text-align: center;
  margin-top: 30rpx;
  border-radius: 5rpx;
  font-size: 40rpx;
  line-height: 80rpx;
}