.background {
	min-height: 100%;
	overflow: hidden;
}

.top {
	width: 92%;
	height: 160rpx;
	border-radius: 8rpx;
	background-color: white;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.img {
	width: 80rpx;
	height: 80rpx;
	position: absolute;
	top: 30rpx;
	left: 30rpx;
}

.fview {
	display: flex;
}

.ms {
	position: absolute;
	font-size: 33rpx;
	left: 20rpx;
	top: 28rpx;
	letter-spacing: 10rpx;
}

.cxk {
	position: absolute;
	right: 16rpx;
	top: 28rpx;
	color: rgb(150, 150, 150);
	font-size: 27rpx;
}

.kahao {
	position: absolute;
	top: 82rpx;
	left: 20rpx;
	font-size: 27rpx;
	color: rgb(150, 150, 150);
}

.top2 {
	display: flex;
	height: 64rpx;
	line-height: 64rpx;
	position: relative;
}

.radio {
	vertical-align: top;
	margin-left: 20rpx;
	font-size: 28rpx;
	position: absolute;
	top: 0;
	left: 0;
	transform: scale(0.86);
}

.mbc {
	width: 100%;
	font-size: 24rpx;
	line-height: 56rpx;
	text-align: right;
}

.bck {
	width: 70%;
	margin: 0 auto;
	height: 70rpx;
	color: white;
	margin-top: 50rpx;
	font-size: 28rpx;
	background-position-x: 128rpx;
	background-position-y: 6rpx;
	background-color: rgb(252, 148, 50);
}

.bank-edit {
	display: inline-block;
	height: 64rpx;
	line-height: 64rpx;
	font-size: 26rpx;
	color: #EE4000;
	margin-right: 40rpx;
	/* position: absolute;
	top: 50%;
	right: 6%; */
	/* transform: translate(0, -50%); */
}
.edit-icon {
	display: inline-block;
	vertical-align: top;
}
.bank-list {
	width: 94%;
	margin: 28rpx 3% 0;
	border-radius: 12rpx;
	background-color: #fff;
}